.form {

  &__tooltip {
    display: inline-block;
    margin-left: 5px;
    transform: translateY(-3px);

    &--btn {
      border: none;
      background-color: $color-secondary-dark;

      &:focus {
        border: none;
        outline: none;
      }
    }

    &--circle {
      border: none;
      font-size: initial;
      color: $color-secondary-dark;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  &__control {
    background-color: $color-secondary;
    width: 100% !important;
    height: 50px !important;
    border-radius: 10px;
    color: $color-secondary-dark;
    font-size: 16px;

    // &:focus{
    //   border: 2px solid $color-primary;
    // }

    @include respondmax(xl) {
      width: 100% !important;
    }

    &::placeholder {
      color: #818490 !important;

    }
  }

  &__group {
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: #555a64;
  }

  &__phone-group {
    // width: 60% !important;
    // display: inline-block;
    display: flex;
    justify-content: space-between;
  }

  &__phone--input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;

  }
}

.add-phone,
.remove-phone {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: $color-primary;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;

  .fa-plus,
  .fa-minus {
    // height: 50px;
    // width: 50px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    font-size: 1.6em;

  }
}



.tooltip.show {
  opacity: 1 !important
}

.bg-secondary {
  color: $color-secondary-dark;
  background-color: rgba(245, 245, 245, 1) !important;
  opacity: 1;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {

  border-top-color: $color-secondary !important;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: $color-secondary !important;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {

  border-left-color: $color-secondary !important;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {

  border-right-color: $color-secondary !important;
}


.tooltip-inner {
  background-color: $color-secondary;
  opacity: 1 !important;
  box-shadow: 0 .25rem .375rem rgba(0, 0, 0, .09) !important;
}

.error {
  color: red;
  margin-left: 5px;
}

label.error {
  display: inline;
}

.inputErrorBorder {
  border: 1px solid red;

  &:focus {
    border: 1px solid red;
  }
}

#first_form {
  


  @include respondmax(md) {
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    transform: translateY(-20px);
    background-color: #ffffff;
    position: relative;
    z-index: 99;
  }
}

.gender--label {

  text-align: center;
  cursor: pointer;
  color: #555a64;
  width: 100%;
  padding: 10px 20px !important;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f5f5f5;

}

.error-x {

  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 10em;
  padding: 1px 4px;
  text-decoration: none;
  font: 700 18px/17px sans-serif;
  background: red;
  color: #FFF;
  display: none;
}

.true-check {

  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 10em;
  padding: 1px 4px;
  text-decoration: none;
  font: 700 15px/18px sans-serif;
  background: green;
  color: #FFF;
  display: none;
}

.valid-check {

  position: absolute;
  top: -20px;
  right: 0;
  border-radius: 10em;
  padding: 1px 4px;
  text-decoration: none;
  font: 700 15px/18px sans-serif;
  background: green;
  color: #FFF;
}


.add-wp {
  display: none;
  width: calc(100% - 60px);
  // display: flex;
  align-items: center;
  justify-content: center;

  &--square {
    border: 2px solid #fff;
    padding: 5px;
    margin-right: 10px;
    display: inline-block;
    transform: translateY(2px)
  }

  &--text {
    display: inline-block;
  }



}

.check-wp {
  // display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: $color-secondary;
  border-top: 1px solid #eaedf2;
  border: 1px solid #eaedf2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;

  display: none;

  &__label {

    text-align: center;
    cursor: pointer;

    width: 100%;
    font-size: 16px;

    .fa-whatsapp {
      color: #25d366;
      // height: 50px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6em;
    }
  }

  &__input[type="checkbox"] {
    visibility: hidden;
    height: 0;
    width: 0;
    display: none;

    // &:checked+label {

    // }


  }
}

.form-group__phone {
  margin-bottom: 20px;
  position: relative;
}