.scrollbar {

	float: left;
	// height:80vh;
	width: 100%;
	overflow-y: scroll;

}

.scrollbar1 {
	height: 80vh;
	width: 100%;
	overflow-y: scroll;


	

	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px transparent;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
		
	}


	&::-webkit-scrollbar {
		opacity: 0;
		backface-visibility: hidden;
		
	}

	@include respondmax(md) {
		overflow-y: auto;
		height: auto;
	}

}

.show-scroll {




	
	-ms-overflow-style: none;
	
	&:hover {
		cursor: pointer;
	}
	
	&::-webkit-scrollbar-track {
		

		box-shadow: inset 0 0 6px #cbcbcb;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		box-shadow: inset 0 0 6px #cbcbcb;
		background-color: #cbcbcb;
	}

	&::-webkit-scrollbar {
		width: 10px !important;
		background-color: transparent;
	
	}

}

.scroll-style{
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px #cbcbcb;
		border-radius: 10px;
	
	}

	&::-webkit-scrollbar {
		width: 10px;
	
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		box-shadow: inset 0 0 6px #cbcbcb;
		background-color: #cbcbcb;
		opacity: 0;
		
	}
}














