<!-- FILEPOND -->

<script src="assets/js/filepond-plugin-file-validate-type.js"></script>
<script src="assets/js/filepond-plugin-image-preview.js"></script>
<script src="assets/js/filepond-plugin-image-resize.js"></script>
<script src="assets/js/filepond-plugin-image-transform.js"></script>
<script src="assets/js/filepond-plugin-image-crop.js"></script>
<script src="assets/js/filepond.js"></script>

<script src="js/filepondDriver.js"></script>
 <!-- PARSLEY -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.js"></script> -->
<script src="assets/js/parsley.js"></script>

</body>

</html>