
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
<!-- <script src="assets/js/jquery-ui.min.js"></script> -->

<!--  DATEPICKER LANGUAGE  WHICH IS LAST -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/i18n/jquery.ui.datepicker-en-AU.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/i18n/jquery.ui.datepicker-ru.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/i18n/jquery.ui.datepicker-az.min.js"></script> -->

<script src="assets/js/datepicker-en-AU.min.js"></script>
<script src="assets/js/datepicker-ru.min.js"></script>
<script src="assets/js/datepicker-az.min.js"></script>

<!-- JQUERY MASK -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script> -->
<script src="assets/js/jquery.mask.js"></script>


<!-- AUTOCOMPLETE  -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.24/jquery.autocomplete.min.js"></script> -->
<script src="assets/js/autocomplete.min.js"></script>


<!-- FILEPOND -->

<script src="assets/js/filepond-plugin-file-validate-type.js"></script>
<script src="assets/js/filepond-plugin-image-preview.js"></script>
<script src="assets/js/filepond-plugin-image-resize.js"></script>
<script src="assets/js/filepond-plugin-image-transform.js"></script>
<script src="assets/js/filepond-plugin-image-crop.js"></script>
<script src="assets/js/filepond.js"></script>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/jquery-ui.min.js"></script>
<script src="js/filepondDriver.js"></script>

 <!-- PARSLEY -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.1/parsley.js"></script> -->
<script src="assets/js/parsley.js"></script>


<script src="js/parsley-driver-document.js"></script>

 <script src="js/autocomplete-car-producer.js"></script>
 <script src="js/autocomplete-car-model.js"></script>
 <script src="js/autocomplete-car-release-year.js"></script>
 <script src="js/driver-sign-in.js"></script>
 <script src="js/driver-birthday.js"></script>
 <script src="js/parsley-driver-sign-in.js"></script>
<script src="js/step-form.js"></script>

</body>

</html>