.loading-info {
    margin-bottom: 20px;
    color: $color-secondary-dark;
    border-bottom: 1px solid #d0d2d7;
    width: 100%;
    position: relative;
    padding: 1rem;

    &-modal {
        margin-bottom: 3px;
        color: #555a64;
        border-bottom: 1px solid #d0d2d7;
        height: 36px;
        width: 100%;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 10px;
        position: relative;
    }

    &-border {
        border-bottom: 1px solid #d0d2d7;
    }

    &__or {
        display: block;
        margin: 10px 0;
        text-align: center;
    }

    &__code {
        padding: 7px;
        color: $color-secondary-dark;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 1px solid $color-primary;
        border-right: none;
        width: auto;

        &--container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;

            @include respondmax(sm) {
                flex-direction: column;
            }
        }

        &--div {

            font-size: 16px;
            width: 160px;
            border-radius: 10px;
            z-index: 2;
            display: flex;
height: 40px;
           

            &:hover .my-coupons__tooltip {
                display: block;
            }
        }

        &--btn {

            background-color: #fff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 7px 10px;
            


            &:focus {
                outline: none;
            }

            .fa-copy {
                font-size: 1.5rem;
                color: $color-primary;

            }
        }
    }

    &__tooltip {
        background-color: rgba(0, 0, 0, .8);
        color: #fff;
        padding: 3px 5px;
        border-radius: 5px;
        bottom: 26%;
        left: 59%;
        position: absolute;
        z-index: 999;
        display: none;

        @include respondmax(lg) {
            bottom: 22%;
            right: 23%;

        }

        @include respondmax(sm) {

            right: 10%;

        }

    }

    &--mt {
        margin-top: 30px;
    }

    &--courier {
        border-bottom: none;
        margin-top: 10px;
    }

    &__circle {
        position: relative;
        height: auto;
        // margin-bottom: 0;

        &--before {
            display: flex;

            .fa-circle {
                color: $color-primary-light;
                z-index: 2;
            }

            &::before {
                content: "";
                position: absolute;
                left: 23px;
                z-index: 100;
                top: 52px;
                height: 30%;
                z-index: 1;
                border-left: 2px dashed $color-secondary-dark;
            }
        }

        &--after {
            display: flex;

            .fa-circle {
                color: $color-primary;
                z-index: 2;
            }
        }
    }

    &--bottom {
        position: relative;
        padding-left: 20px;


        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f111";
            color: $color-secondary-dark;
            position: absolute;
            top: 0;
            left: -8px;


        }
    }

    &__heading {
        opacity: .5;

    }



    &--img {
        border-radius: 10px;
    }

    &--payment-group {

        position: relative;
        // margin-bottom: 0;

        &-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }
    }

    &__urgent-type {
        // margin-bottom: 0;
    }

    &__urgent-time {

        padding-bottom: 16px;

        &-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        }
    }

    &--delivery-time {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &--money {
        font-size: 25px;
    }
}