.mail-coupon {

    &__link {
        color: $color-primary;

        &:hover {
            text-decoration: none;
        }
    }

    &__img-container {
        width: 200px;
        height: 100%;
        display: flex;
        align-items: center;

        @include respondmax(sm) {
           
            margin: 20px auto;
            justify-content: center;
            width: auto;
        }
    }

    &__code {
        padding: 12px 7px;
        color: $color-secondary-dark;
        background-color: #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: none;
        width: auto;

        &--container {
            display: flex;
            align-items: center;

            @include respondmax(sm) {
                flex-direction: column;
            }
        }

        &--div {

            font-size: 16px;
            width: 160px;
            border-radius: 10px;
            z-index: 2;
            display: flex;

            @include respondmax(sm) {
                margin-bottom: 10px;
            }

            &:hover .my-coupons__tooltip {
                display: block;
            }
        }

        &--btn {

            background-color: #fff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &:focus {
                outline: none;
            }

            .fa-copy {
                font-size: 1.5rem;
                color: $color-primary;

            }
        }
    }

    &__tooltip {
        background-color: rgba(0, 0, 0, .8);
        color: #fff;
        padding: 3px 5px;
        border-radius: 5px;
        bottom: 12%;
        left: 29%;
        position: absolute;
        z-index: 999;
        display: none;

        @include respondmax(lg) {
            bottom: 22%;
            right: 23%;

        }

        @include respondmax(sm) {

            right: 10%;

        }

    }

    &__footer {
        background-color: $color-secondary;
        padding: 10px 0 75px;
    }

    &__confirmation {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: rgba($color-primary, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        @include respondmax(sm) {
margin: 0 auto;
        }

        i {
            color: $color-primary;

        }
    }

    &__social {
        &-div {
            position: relative;
        }

        &-list {
            min-width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 40%;
            transform: translate(0, -110%);
            transfrom-origin: 0 50%;

            list-style-type: none;
            background-color: #fff;
            border-radius: 20px;
            padding: 0;
            margin-bottom: 0;

            @include respondmax(xl) {
                left: 48%;
            }

            @include respondmax(md) {
                left: 42%;
            }

            @include respondmax(sm) {

                top: 50%;
                left: 51%;
                transform: translate(-50%, 10%);
                transfrom-origin: 50% 50%;

            }
            @include respondmax(xs) {

                top: 50%;
                left: 28%;
                transform: translate(-10%, 20%);
                transfrom-origin: 0 50%;

            }
        }

        &-li {
            width: 40px;
            height: 40px;
            margin: 0 5px;
            float: left;
            line-height: 40px;
            color: $color-primary;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                color: rgba($color-primary, 0.5);
            }

            &:first-of-type {
                width: 40px;
                height: 40px;
                margin: 0px;
            }

            &:first-of-type i {
                font-size: 30px;
            }

            a {
                text-decoration: none;
                color: $color-primary;

                &:hover {
                    color: rgba($color-primary, 0.5);
                }

                &:visited {
                    text-decoration: underline;
                }
            }


            i {
                font-size: 25px;
                vertical-align: middle;
                margin: 0 5px;
            }
        }

    }

    &__app {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @include respondmax(sm) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }

        a {

            &:first-child {
                margin-right: 20px;

                @include respondmax(sm) {
                    margin-bottom: 10px;
                    margin-right: 0;
                }
            }
        }
    }
}

#webSocialIcon {

    .fa-share-alt {
        color: $color-primary;
        font-size: 25px;

        &:hover {
            color: rgba($color-primary, 0.5);
        }
    }

}